.App {
  position: relative;
  background-color: var(--background);
  height: 100%;
  padding: 2rem;

  &.acm {
    --background: linear-gradient(0deg, #EFB511, rgba(255,252,117,1) 100%);
    --border: #333333;
    --contrast: var(--acm);
    background: var(--background);
  }

  &.doom {
    --background: linear-gradient(var(--doom), #518270);
    --border: white;
    --contrast: var(--doom);
    background: var(--background);
  }
}

.current-champs {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #e2c675;
  color: #000;
  padding: 0.5rem 7rem 0.5rem 2rem;
  font-weight: bold;
  text-align: center;
}

