.team-summary__container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 4rem;

  @media only screen and (min-width: 800px) {
    flex-direction: row;
  }

  div {
     width: 40%;
     display: flex;
     flex-direction: column;
     align-items: center;
   }
}

.record {
  font-size: 1.5rem;
  font-weight: bold;
}

.logo {
  width: 300px
}

.points-container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background: linear-gradient(#333333, black);
  border: 4px solid black;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
}

.points-text {
  color: yellow;
  font-size: 2rem;
}

.points {
  color: yellow;
  font-weight: bold;
  font-size: 6rem;

}

.team-summary__scores {
  width: 100%;
  color: white;
  background-color: black;
  margin: 2rem -2rem 0;
  padding: 2rem 2rem 0;

  @media only screen and (min-width: 800px) {
    padding: 2rem 2rem;
  }
}

.team-summary__scores-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  @media only screen and (min-width: 800px) {
    flex-direction: row;
    align-items: flex-end;
  }
}

.team-summary__scores-inner {
  width: 100%;
  text-align: center;
  margin: 2rem 0 0;

  @media only screen and (min-width: 800px) {
    width: 50%;
    margin: 0 0 2rem;
  }

}

.team-summary__score-title {
  color: white;
  width: 100%;
  margin: 0;
}

.team-summary__scores-name {
  color: white;
  margin: 0 0 1rem;
}

.team-summary__vs {
  font-size: 70px;
  margin: 1rem 0;

  @media only screen and (min-width: 800px) {
    font-size: 100px;
  }
}

.team-summary__results {
  background-color: black;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 35px;
  font-weight: bold;
  font-style: italic;
  margin: 0 -2rem;
  padding: 2rem;
  text-align: center;
}

.team-summary__results-title {
  color: white;
  margin-top: 0;
}

.results-week {
  margin-right: 2rem;
}

.team-summary__results-item {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-direction: column;

  @media only screen and (min-width: 800px) {
    flex-direction: row;
  }
}

.result-one {
  @media only screen and (min-width: 800px) {
    margin-right: 2rem;
  }
}

.result-two {
  @media only screen and (min-width: 800px) {
    margin-left: 2rem;
  }
}

.result-separator {
  display: none;

  @media only screen and (min-width: 800px) {
    display: block;
  }
}
